@page
@model AboutModel
@{
//ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>*@


<div style="background-color:darkcyan; font-size:large;padding:15px">
    <a style="color:white; text-align:center; margin-left:40%; font-size:25px" href="#" id="myBtn">Learn more ABOUT this website</a>
</div>
<br />
<h1 class="rainbow" style="text-align:center"> Inclusion must be intentional</h1>


<!-- The Modal -->
<div style="overflow:auto; scrollbar-base-color:antiquewhite" id="myModal" class="modal">
    @*<div class="double">*@
    <!-- Modal content -->
    <div style=" text-align: center; background-color: black; width:1000px; margin:auto;  " class="modal-content double">
        <span class="close">&times;</span>
        <div style="font-family:'MS Gothic'; font-size:20px; margin-left:5rem;margin-right:5rem">
        <h2 style="color:lightgray">What is WP-D&I?</h2>
        <p style="color:peachpuff">WP-D&I stands for Workplace Diversity and Inclusion. </p>
        <h2 style="color:lightgray">Who are you?</h2>
        <p style="color:coral">I am a foreign professional thrilled to start blending my pyschology and social work background with the technologies I've learned. I have one ambicious goal: making a positive long-lasting impact in the community.</p>
        <h2 style="color:lightgray">The problem</h2>
        <p style="color:darkseagreen">
            Current diversity and Inclusion practices seem to be focused on legal compliance more than what really matters: different perspectives add high value to a team. Individuals in leadership roles should reflect such diversity for continuous growth of any organization.
            <br />But how do we attract and find that diverse talent when the idea that fitting in is more valued than being yourself?
            When you take this to the work place, it translates to standarized recruitment processes with unrealistic expectations where the actual goal fades away.
            Candidates, on the other hand, act upon those expectations rather than showing their full potential by just being themselves. This results in an endless cycle of segregation based on the lack of real opportunities for inclusion.
        </p>
        <h2 style="color:lightgray">My solution</h2>
        <p style="color:yellow">Creating a space where hiring managers can find the talent and candidades can promote themselves through a non-traditional recruiting process that postpones the access to candidate's resume to a different stage of that chain. Instead, candidates will highlight what they can add to a role by either typing it in and/or uploading a video regardless of their background. They will tell who they are and how they can contribute to an organization.</p>
    </div>
    </div>
    </div>
</div>

@*<div class="double">
    <div style="font-family:'MS Gothic'; font-size:20px; margin-left:5rem;margin-right:5rem">
        <h2 style="color:lightgray">What is WP-D&I?</h2>
        <p style="color:peachpuff">WP-D&I stands for Workplace Diversity and Inclusion. </p>
        <h2 style="color:lightgray">Who are you?</h2>
        <p style="color:coral">I am a foreign professional thrilled to start blending my pyschology and social work background with the technologies I've learned. I have one ambicious goal: making a positive long-lasting impact in the community.</p>
        <h2 style="color:lightgray">The problem</h2>
        <p style="color:darkseagreen">
            Current diversity and Inclusion practices seem to be focused on legal compliance more than what really matters: different perspectives add high value to a team. Individuals in leadership roles should reflect such diversity for continuous growth of any organization.
            <br />But how do we attract and find that diverse talent when the idea that fitting in is more valued than being yourself?
            When you take this to the work place, it translates to standarized recruitment processes with unrealistic expectations where the actual goal fades away.
            Candidates, on the other hand, act upon those expectations rather than showing their full potential by just being themselves. This results in an endless cycle of segregation based on the lack of real opportunities for inclusion.
        </p>
        <h2 style="color:lightgray">My solution</h2>
        <p style="color:yellow">Creating a space where hiring managers can find the talent and candidades can promote themselves through a non-traditional recruiting process that postpones the access to candidate's resume to a different stage of that chain. Instead, candidates will highlight what they can add to a role by either typing it in and/or uploading a video regardless of their background. They will tell who they are and how they can contribute to an organization.</p>
    </div>
</div>*@
<h2 style="color:lightgrey; margin-left:5rem">The real value of diversity...</h2>
<div style="margin-left:5rem" class="row">
    <p class="col-lg-6 " style="font-size:25px; font-family:'MS Gothic';color:wheat; font-weight:lighter">
        Every single one of the pieces of this puzzle could vary from one employee to another. When we are able to look at such differences as the engine of innovation, we start to see the real value behind it. Opposite experiences can bring so much enriched ideas to the table than otherwise an unique lense would provide.
    </p>
    <img style="width:50rem; margin-left:10rem" class="col-lg-6" src="~/images/puzzle.png" alt="Alternate Text" />

</div>

<h2 style="color:lightgrey; margin-left:5rem">Perspectives matter...</h2>
<div style="margin-left:5rem" class="row">
    <img style="width:50rem; margin-left:5rem" class="col-lg-6" src="~/images/mirror2.jpg" alt="Alternate Text" />
    <p class="col-lg-6 " style="font-size:25px; font-family:'MS Gothic';color:wheat; font-weight:lighter">
        The same way that these mirrors can show the same object from different angles, the culture of a workplace should reflect the differences of its members in a way that values the perspectives that come together for a common goal. Innovation is only possible if you are open to change and to new points of view.
    </p>
</div>