@page
@model RRHH.Pages.applicantTest.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2 style="color:white">Create</h2>

<h4 style="color:white">Applicant Profile</h4>
<hr />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-1"><img src="~/images/treecolors.jpg" alt="Alternate Text" /></div>
    <div class="col-md-4"></div>
    <div class="col-md-5">
                    
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="applicant1.FNameOnly" class="control-label text"></label>
                <input asp-for="applicant1.FNameOnly" class="form-control" />
                <span asp-validation-for="applicant1.FNameOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicant1.jobInterest" class="control-label text"></label>
                <input asp-for="applicant1.jobInterest" class="form-control" />
                <span asp-validation-for="applicant1.jobInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicant1.whyMe" class="control-label text"></label>
                <input asp-for="applicant1.whyMe" class="form-control" />
                <span asp-validation-for="applicant1.whyMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicant1.storyVideo" class="control-label text"></label>
                <input asp-for="applicant1.storyVideo" class="form-control" />
                <span asp-validation-for="applicant1.storyVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="applicant1.posterID" class="control-label text"></label>
                <input asp-for="applicant1.posterID" class="form-control" />
                <span asp-validation-for="applicant1.posterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" asp-for="Upload" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
